<!doctype html>
<html lang="en">
  <head></head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/1.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">

  </head>
  <body > 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-md">
  <a class="navbar-brand " href="/">Medibook </a>
</div>
</nav>
<div class="container mt-3 ">
<div >
  <div class="col-md-17">
  <span> <h2 class="text-center text-white bg-dark p-1"> Registred Patients </h2></span>
    <form method="POST" action="{% url 'filter' %}">
      {% csrf_token %}
      <label for="filter_date">Filter by Date:</label>
      <input type="text" id="filter_date" name="filter_date" placeholder="DD/MM/YYYY">
      <button type="submit"> Filter</button>
  </form>
    <table class="table mb-0 mx-auto">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Gender</th>
          <th scope="col">Age</th>
          <th scope="col">City</th>
          <th scope="col">Phone number</th>
          <th scope="col">Allergies</th>
          <th scope="col">Current medications</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
        <tr >
          <td>{{d.firstName}}</td>
          <td>{{d.lastName}}</td>
          <td>{{d.gender}}</td>
          <td>{{d.age}}</td>
          <td>{{d.city}}</td>
          <td>{{d.phone}}</td>
          <td>{{d.allergies}}</td>
          <td>{{d.medications}}</td>
          <td>{{d.date}}</td>
          <td>{{d.time}}</td>
          <td>{{d.email}}</td>
          <td><a href="/update/{{d.id}}" type="button" class="btn btn-outline-warning"> <i class="fa-solid fa-wand-magic-sparkles"></i> Edit</a></td>
          <td><a href="/delete/{{d.id}}" type="button" class="btn btn-outline-danger"> <i class="fa-solid fa-eraser"></i> Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <p style="font-size: larger;font-weight: bold;" ><u> <a href="{% url 'interface' %}"> Home </a> </u></p>
    
  </body>
</html>
