.desktop-4 {
  background: #f0e7f3;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 1290px;
  height: 627px;
  position: relative;
  overflow: hidden;
  background-color: #f0e7f3 ;
}
.frame-13 {
  background: var(--blanc, #ffffff);
  border-radius: 50px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 253px;
  height: 610px;
  position: absolute;
  left: 9px;
  top: 13px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.tdesign-notification-filled {
  width: 40px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 300px;
  overflow: visible;
}
.component-2-frame-10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 302px;
  height: 40px;
  position: absolute;
  left: 105px;
  top: 20px;
}
.m {
  color: #000000;
  text-align: left;
  font: 400 36px "Inter-Regular", sans-serif;
  position: relative;
  width: 46px;
  height: 40px;
}
.entor {
  margin: 0 0 0 -15px;
  color: #356dfe;
  text-align: left;
  font: 400 30px "Outfit-Regular", sans-serif;
  position: relative;
  width: 197px;
  height: 31px;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70px;
  height: 62px;
  position: absolute;
  left: 34px;
  top: 3px;
}
.ellipse-1 {
  background: var(--blue, #1857f9);
  border-radius: 50%;
  flex-shrink: 0;
  width: 24.47px;
  height: 57.49px;
  position: relative;
  left: -5px;
  top: 15px;
  transform-origin: 0 0;
  transform: rotate(-30deg) scale(1, 1);
}
.ellipse-2 {
  margin: 0 0 0 -30px;
  background: #0f0f0f;
  border-radius: 50%;
  flex-shrink: 0;
  width: 24.47px;
  height: 57.49px;
  position: relative;
  left: 51px;
  top: 3px;
  transform-origin: 0 0;
  transform: rotate(30deg) scale(1, 1);
}
.ic-round-home {
  width: 50px;
  height: 48px;
  position: absolute;
  left: 15px;
  top: 147px;
  overflow: visible;
}
.home {
  color: #000000;
  text-align: left;
  font: 400 25px "Outfit-Regular", sans-serif;
  position: absolute;
  right: 23.66%;
  left: 30.15%;
  width: 46.18%;
  bottom: 71.71%;
  top: 26%;
  height: 5.29%;
}
.inbox {
  color: #000000;
  text-align: left;
  font: 400 25px "Outfit-Regular", sans-serif;
  position: absolute;
  right: 23.66%;
  left: 30.15%;
  width: 46.18%;
  bottom: 60.43%;
  top: 38%;
  height: 5.29%;
}
.notifications {
  color: #000000;
  text-align: left;
  font: 400 25px "Outfit-Regular", sans-serif;
  position: absolute;
  right: 11.83%;
  left: 30.15%;
  width: 58.02%;
  bottom: 48.86%;
  top: 51%;
  height: 5.29%;
}
.clarity-inbox-line {
  width: 50px;
  height: 33px;
  position: absolute;
  left: 9px;
  top: 230px;
  overflow: visible;
}
._3 {
  color: #9a9090;
  text-align: left;
  font: 400 18px "Outfit-Regular", sans-serif;
  position: absolute;
  left: 230px;
  top: 238px;
  width: 24px;
  height: 30px;
}
._5 {
  color: #9a9090;
  text-align: left;
  font: 400 18px "Outfit-Regular", sans-serif;
  position: absolute;
  left: 228px;
  top: 317px;
  width: 24px;
  height: 30px;
}
.material-symbols-help {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 480px;
  overflow: visible;
}
.themes {
  color: #000000;
  text-align: left;
  font: 400 25px "Outfit-Regular", sans-serif;
  position: absolute;
  right: 23.66%;
  left: 30.15%;
  width: 46.18%;
  bottom: 34.29%;
  top: 66%;
  height: 5.29%;
}
.help {
  color: #000000;
  text-align: left;
  font: 400 25px "Outfit-Regular", sans-serif;
  position: absolute;
  right: 23.66%;
  left: 30.15%;
  width: 46.18%;
  bottom: 21.71%;
  top: 80.5%;
  height: 5.29%;
}
.mdi-paint-outline {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 15px;
  top: 395px;
  overflow: visible;
}
.frame-14 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width:1000px;
  height: 72px;
  position: absolute;
  left: 276px;
  top: 13px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.ellipse-35 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 61px;
  height: 55px;
  position: absolute;
  left:920px;
  top: 8px;
}
.vector8 {
  height: auto;
  position: absolute;
  right: 17.68%;
  left: 65%;
  width: 4.01%;
  bottom: 31.94%;
  top: 30.56%;
  height: 37.5%;
  overflow: visible;
}
.ellipse-36 {
  background: #03a026;
  border-radius: 50%;
  width: 10px;
  height: 9px;
  position: absolute;
  left: 672px;
  top: 22px;
}
.arcticons-messages-2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 600px;
  top: 15px;
  overflow: visible;
}
.butt3{
  border-radius: 20%;
  background-color: #03a026;
  position: absolute;
  left: 494px;
  top: 25px;
  width: 80px;
}
.rectangle-20 {
  background: #d9d9d9;
  width: 223px;
  height: 33px;
  position: absolute;
  left: 28px;
  top: 22px;
}
.vector10 {
  height: auto;
  position: absolute;
  right: 91.57%;
  left: 4.7%;
  width: 3.73%;
  bottom: 27.73%;
  top: 34.72%;
  height: 37.55%;
  overflow: visible;
}
.rectangle-21 {
  width: 173px;
  height: 20px;
  position: absolute;
  left: 70px;
  top: 29px;
  overflow: visible;
}
.component-3 {
  width: 200px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 25px;
}

.specialit {
  color: #000000;
  text-align: left;
  font: 400 20px "Outfit-Regular", sans-serif;
  position: absolute;
  left: 230px;
  top: 21px;
  width: 142px;
  height: 19px;
}
.frame-15 {
  background: #ffffff;
  border-radius: 40px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1000px;
  height: 533px;
  position: absolute;
  left: 276px;
  top: 91px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.table{
    border-color:  #9a9090;
    background-color:#9a9090 ;
    border-radius:15px 50px;
    width:950px ;
    position: relative;
    left: 17px;
    top: 15px;
}